:root {
	--primary: #350740;
	--light: #D8D4F2;
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', serif;
}

h3 {
	font-size: 1.4rem;
	text-align: center;
	border-bottom: 4px dashed var(--primary);
	display: inline-block;
	margin-bottom: 1rem;
}

code {
	font-family: monospace;
}

p > code {
	color: #a52d2d;
}

table {
	width: 100%;
}
table td, table th {
	border-collapse: collapse;
	border: 1px solid #CCC;
	padding: 6px 12px;
}
table th {
	font-weight: bold;
	background-color: #EEE;
}

a {
	color: var(--primary);
}

.inline-code-section {
	font-family: monospace;
	display: block;
	background-color: var(--light);
	max-width: 500px;
	margin: 1rem auto;
	color: var(--primary);
	text-align: left;
	padding: .5rem 1rem;
	font-size: 1.4rem;
	border-radius: 5px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	position: relative;
}

.inline-code-section.small {
	max-width: 320px;
}

.inline-code-section span.filename {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary);
	color: #FFF;
	padding: 2px 1rem;
	opacity: 0.7;
	border-bottom: 1px solid #000;
}

.bg-light {
	background-color: var(--light);
}

.text-center {
	text-align: center;
}

.text-large {
	font-size: 1.3rem;
}

.hero {
	padding: 10vh 50px;
	background-color: var(--primary);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23612a6f' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	color: #FFF;
}

.hero h1 {
	font-size: 11vw;
}

.hero h2 {
	font-size: 2.1vw
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.padded {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.intro-links {
	text-align: center;
}

.intro-links a {
	display: inline-block;
	padding: 16px 32px;
	font-size: 1.2rem;
	color: var(--primary);
}

.example-result-grid {
	display: grid;
	grid-column-gap: 1rem;
	margin: 1rem 0;
	grid-template-columns: 1fr 1fr 1fr;
}

.example-result-grid.dual {
	grid-template-columns: 1fr 1fr;
}

.example-result-grid h6 {
	grid-row: 1; 
}
.example-result-grid h6 + h6 {
	grid-column: -2/-1;
}

.example-result-grid pre {
	grid-row: 2;
	font-size: 1rem;
	margin: .5rem 0;
	overflow: hidden;
}


.expander {
	border: 3px dashed #DDD;
	margin-top: 2rem;
}
.expander > .body {
	display: none;
}
.expander.open > .body {
	display: block;
}
.expander .open {
	display: none;
}
.expander.open .open {
	display: inline;
}
.expander.open .close {
	display: none;
}
.expander h4 {
	margin: 12px 0;
}
.expander .header {
	display: grid;
	align-items: center;
	grid-template-columns: 30px 1fr;
	cursor: pointer;
	padding: 1rem 2rem;
	user-select: none;
}
.expander .body {
	padding: 0 2rem 2rem 2rem;
}
.expander:not(.open) .header:hover {
	background-color: var(--light);
}
.expander .header > span {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.4rem;
	top: -3px;
	position: relative;
}